* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: white;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  .list{
    font-size: 25px;
    position: absolute;
    right: 35px;
  }
  .navbar {
    position: fixed;
    min-width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 24px;
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }
  
  .nav-link {
    transition: 0.7s;
  }
  
  .nav-link:hover {
    color: dodgerblue;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .nav-branding {
    width: 60px;
    height: 60px;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
  .profil{
    height: 30px;
    width: 30px;
  }
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    top: 100%;
    right: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-menu a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  